*{
    margin: 0px;
    padding:0px;
}
.header{
    font-size: 25px;
    padding-left: 10px;
    
}
.pageContent{
  text-align: center;
  transform: translateY(150px);
}
.Displaymesssage{
    font-size: 55px;
}
.pressmetxt{
    font-size: 60px;
}
.start_btn{
    height: 30px;
    border: 1px solid black;
    padding: 20px;
    /* margin-top: 27px; */
    width: 100px;
    font-size: 44px;
    border-radius: 41px;
    background-color: #32cd32;
    color:black
}